@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    font-size: 62.5%; /* de 16 pra 10 pixels */

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
}

html,
body {
  width: 100%;
  /* height: 100%; */
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; /* 10px * 1.6 = 16px padrão */

    background: #f2f5fb;
}

.header {
    background: #160021;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* gap: 35rem; */

    position: sticky;
    z-index: 2;
    top: 0px;
}

.header img {
    width: 12rem;
}

.header h2 {
    color: white;
    font-size: 4rem;
}

.wrapper {
    width: min(70rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
}

.wrapper h1 {
    font-size: 4rem;
    margin-top: 3rem;
    color: #22343d;
}

.wrapper h2 {
    color: #22343d;
    font-size: 3rem;
    margin-top: 3rem;
}

.wrapper p {
    font-size: 2rem;
    color: #22343d;
    margin-top: 0.5rem;
}

.cards {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-inline: auto;
    width: fit-content;
}

.card {
    border-radius: 2rem;
    background: white;
    border-bottom: 5px solid #160021;
    padding: 1.6rem;
    max-width: 70rem;

    display: flex;
    flex-direction: column;
}

svg {
    width: 40px;
    height: 40px;
}

.talk p {
    margin-bottom: 4rem;
}